# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/

# Virtual environment
virtualenv/
virtualenvs/
venv/
ENV/
.env
.venv/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Testing
.pytest_cache/
